// VARIÁVEIS USADAS NO MEU Sass

$cor-padrao: darken( #c24e4b, 0); // DEIXA A COR MAIS ESCURA COM PARAMENTO DE PORCETAGEM
$cor-auxiliar: lighten( #1e2c35, 0); // DEIXA A COR MAIS CLARA COM PARAMENTO DE PORCETAGEM
$cor-branca: #fff;

$ponto-de-quebra: 980px;

$mq-mobile: "(max-width: 980px)";

$tamanho-da-fonte-padrao: 16px;

